* html .goog-inline-block,
*:first-child + html .goog-inline-block {
  display: inline;
}
body {
  color: #333333;
  font: normal normal 400 11px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  line-height: 1.2;
  padding: 0 1em;
  background-color: #EDEDED;
  
  
}

a:link {color: #000000;}
a:visited {color: #000000;}
a:active {color: #000000;}
a:hover {text-decoration: underline;}
a {text-decoration: none}

input,
textarea {
  outline: none;
}
#container{
   position: absolute;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}
#content {
   width: 624px;
   margin-left: auto;
   margin-right: auto;
   height: 395px;
   
}
